[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
django-environ = "*"
stripe = "*"
django = "*"
djangorestframework = "*"
pytest = "*"
celery = "*"
redis = "*"
kombu = "*"
django-extensions = "*"
pillow = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.13"
